[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
urllib3 = "*"
boto3 = "*"
aws-sam-cli = "*"
pandas = "*"
dynamodb-json = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
